# Strapi
STRAPI_URL=https://cms.seeznation.co.za
STRAPI_API_TOKEN=

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Bunny
BUNNY_CDN_HOSTNAME=seeznation.b-cdn.net     # your actual CDN hostname
BUNNY_TOKEN_SECRET=295de8db-7dda-4717-b5d9551f0df9-684e-4caf        # Bunny dashboard → Pull Zone → Token Auth
BUNNY_STORAGE_ZONE_NAME=seeznation-audio    # your storage zone name
BUNNY_STORAGE_API_KEY=2a569784-180e-41d0-886d-a22d54f87538         # Bunny dashboard → Storage Zone → FTP & API Access

# Paystack (Phase 3)
PAYSTACK_SECRET_KEY=
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=
